.form-container
{
    width: 100%;
}
.anexo-placeholder
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    background-color: var(--color-bg-white);
    color: var(--color-bg-darker-gray);
    font-size: var(--fs-xxl);
    cursor: pointer;
}

.anexo-placeholder:hover
{
    opacity: 0.8;
}
