.card-dicas-container{
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
    background-color: var(--color-bg-white);
}
.card-dicas-imagem{
    position: relative;
    width: 100%;
    height: 180px;
}

.card-dicas-midia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card-dicas-play-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.card-dicas-play-overlay svg{
    color: white;
    width: 24px;
    height: 24px;
}

.card-dicas-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.card-dicas-textos{
    flex-grow: 1;
}
.card-dicas-titulo{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-semibold);
    font-size: var(--fs-base);
    color: var(--color-text);
    margin-bottom: 4px;
}
.card-dicas-autor{
    font-family: var(--font-dark-grotesque);
    font-size: var(--fs-xs);
    color: var(--color-bg-dark-gray);
}
.card-dicas-download-icone{
   color: var(--color-primary);
   font-size: 24px;
    cursor: pointer;
    padding-left: 16px;
}
