.abas-container{
    display:flex;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 24px;
    background-color: var(--color-bg-white);
}
.aba-item{
    flex: 1;
    padding: 4px 12px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-medium);
    font-size: var(--fs-xs);
    color: var(--color-bg-dark-gray);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.aba-item.ativa{
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}