.modal-post-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-light-gray)
}

.modal-post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    height: 60px;

}

.modal-post-header button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-poppins);
    font-size: var(--fs-xs);
    font-weight: var(--font-weight-medium);
}

.modal-post-cancelar{
    color: var(--color-text);
}

.modal-post-postar.botao-container{
    padding: 8px 20px ;
    margin: 0 ;
    font-family: var(--font-poppins) ;
    font-size: var(--fs-xs);

}
.modal-post-corpo{
    display: flex;
    padding: 16px 24px;
    flex-grow: 1;
}

.modal-post-avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.modal-post-textarea{
    flex-grow: 1;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-base);
    color: var(--color-text);
    height: 150px;
    margin-top: 10px;
}

/* .modal-post-footer{
    padding: 10px 24px;
    background-color: var(--color-bg-white);
    border-top: 1px solid var(--color-bg-dark-gray);
    margin-top: auto;
}

.modal-post-comunidade-tag{
    font-family: var(--font-poppins);
    font-size: var(--fs-xs);
    color: var(--color-primary);
    background-color: #e0f0ff;
    padding: 4px 8px;
    border-radius: 12px;
} */