.barra-topo-container {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

.barra-topo-botao-icone
{
    background: none;
    border: none;
    cursor: pointer;
}

.barra-topo-titulo {
  flex-grow: 1;
  text-align: center;
  font-size: var(--fs-base);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-semibold);

}