.barra-topo-container {
  height: 60px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  position: relative;
  z-index: 100;
  margin-bottom: 24px;
}

.barra-topo-botao-icone
{
    grid-column: 1;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.barra-topo-titulo {
  grid-column: 2;
  text-align: center;
  font-size: var(--fs-base);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-semibold);

}