.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container{
    background-color: var(--color-bg-white);
    border-radius: 16px;
    padding: 24px;
    width: 90%;
    max-width: 400px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.modal-header h2{
    font-family: var(--font-poppins);
    font-size: var(--fs-base);
    color: var(--color-text);
    text-align: center;
    flex-grow: 1;
}

.modal-botao-fechar{
    background: none;
    border: none;
    font-size: var(--fs-lg);
    cursor: pointer;
    color: var(--color-bg-dark-gray);
}

.modal-grupo{
    margin-bottom: 16px;
}

.modal-grupo strong{
    font-family: var(--font-poppins);
    font-size: var(--fs-base);
    color: var(--color-text);
    display: block;
    margin-bottom: 4px;
}

.modal-grupo p{
    font-family: var(--font-dark-grotesque);
    font-size: var(--fs-base);
    color: var(--color-bg-dark-gray);
   
}

.modal-anexos{
    display: flex;
    gap: 8px;
}
.modal-anexos img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}