.sucesso-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sucesso-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 0 24px;
    padding-top: 60px;
}

.sucesso-imagem{
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
.sucesso-titulo{
    font-family: var(--font-poppins);
    font-size: var(--fs-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-bg-white);
    margin-bottom: 32px;
    color: var(--color-secondary-blue1);
    text-align: center;
    width: 100%;

}
.sucesso-footer-onda{
    width: 100vw;
    position: relative;
    margin-top: auto;
}
.sucesso-imagem-onda{
    width: 100%;
    display: block;
    height: auto;
}

.sucesso-logo{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}