.busca-container{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 16px;
    margin-bottom: 24px;
    background-color: var(--color-bg-light-gray);
}
.busca-input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: var(--font-dark-grotesque);
    font-size: var(--fs-xs);
    color: var(--color-text);
}

.busca-input::placeholder{
    color: var(--color-bg-dark-gray);
}
.busca-icone-wrapper{
    display:flex;
    align-items: center;

    border-left: 2px solid var(--color-primary);
    padding-left: 12px;
    margin-left: 12px;
}
.busca-icone-svg
{
    width: 20px;
    height: 20px;
    color: var(--color-primary);
    fill: var(--color-primary);
    stroke: var(--color-primary);
}