.formulario-container{
    width: 100%;
    padding-bottom: 120px;
}

.anexo-placeholder{
    display: flex;
    width: 100%;
    minx-height: 100px;
    border-radius: 8px;
    background-color: var(--color-bg-white);
    color: var(--color-bg-light-gray);
    cursor: pointer;
    padding: 16px;
}

.anexo-placeholder: svg{
    margin: auto;
}