.carregando-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
}
.spinner {
    width: 36px;
    height: 36px;
    border: 4px solid var(--cor-bg-darker-gray);
    border-top-color: var(--cor-primary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
.texto{
    margin-top: 12px;
    font-family: var(--font-poppins);
    color: var(--color-bg-darker-gray);
    font-size: var(--fs-xs);
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}