.comunidade-detalhe-container{
    padding-bottom: 6rem;
    width: 100%;

}
.detalhe-banner-header{
    position: relative;
    margin-left: -24px;
    margin-right: -24px;
    height: 121px;
}

.detalhe-banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalhe-banner-voltar{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.detalhe-banner-voltar svg{
    width: 28px;
    height: 28px;
    color: var(--color-bg-white);
}

.detalhe-info-container{
    padding: 1.2rem 1rem;
}

.detalhe-cabecalho-info{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 4px;
}

.detalhe-titulo{
    font-family: var(--font-poppins);
    font-size: var(--fs-xs);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);
}


.detalhe-membros{
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-xs);
    color: var(--color-text);
    font-weight: var(--font-weight-semibold);
}

.detalhe-descricao{
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-xs); 
    font-weight: var(--font-weight-regular);
    color: var(--color-bg-dark-gray); 
    margin-bottom: 0.75rem; 
}

.detalhe-posts-lista{
    padding-bottom: 120px;
    margin-left: -24px;
    margin-right: -24px;
}
.detalhe-botao-acao{
    font-family: var(--font-poppins);
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    padding: 4px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    margin-left: -10px;
    margin-right: auto;
    display: block;
}

.detalhe-fab-container{
    position: fixed;
    bottom: 100px;
    right: 24px;
    z-index: 50;
}



.detalhe-fab-container .botao-container{
    padding: 12px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}