.botao-adiciona-container {
    position: fixed;
    bottom: 100px;
    right: 24px;
    z-index: 50;
    width: 60px;
    height: 60px;
    display: block;
    background-image: url('/BotaoCriarNormal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.botao-adiciona-container:active{
    background-image: url('/BotaoCriarHover.png');
    transform: scale(0.95);
}