.card-post-container {
    width: 100%;
    padding: 16px 24px;
    background-color: var(--color-bg-white);
    border-bottom: 4px solid var(--color-bg-light-gray);

}

.card-post-header {
    display: flex;
    align-items: center;
}

.card-post-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    
}

.card-post-info {
    display: flex;
    flex-direction: column;
}

.card-post-autor {
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-semibold);
    font-size: var(--fs-xs);
    color: var(--color-text);
}

.card-post-data {
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-xs);
    color: var(--color-bg-darker-gray);
}

.card-post-body {
    padding-left: 60px; 
}

.card-post-texto {
    font-family: var(--font-darker-grotesque);
    font-size: var(--fs-base);
    color: var(--color-text);
    margin-bottom: 12px;
}

.card-post-gallery {
    display: grid;
    gap: 1px;
    border-radius: 8px;
    overflow: hidden;
}


.card-post-gallery.gallery-1 {
    grid-template-columns: 1fr;
}


.card-post-gallery.gallery-2 {
    grid-template-columns: 1fr 1fr;
}
.card-post-gallery.gallery-mosaic{
    grid-template-columns: 1fr 1fr 1fr;
}

.card-post-imagem {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}