@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html{
  font-family: var(--font-poppins);

  background-color: var(--color-bg-light-gray);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  overflow: hidden;
}

#root
{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
