.card-alerta-container{
    display:flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 24px;
    /* background-color: var(--color-bg-white); */
   
}

.card-alerta-linha-superior
{
    display:flex;
    align-items: flex-start;
}

.card-alerta-icone
{
    margin-right: 12px;
    flex-shrink: 0;
    margin-top: 32px;
}
.card-alerta-conteudo
{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-alerta-titulo
{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-xs);
    color: var(--color-bg-dark-gray);
    margin-bottom: 4px;
}

.card-alerta-subtitulo
{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-semibold);
    font-size: var(--fs-base);
    color: var(--color-text);
    margin-bottom: 4px;
}

.card-alerta-local
{
    font-family: var(--font-darker-grotesque);
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-xs);
    color: var(--color-bg-dark-gray);
    margin-bottom: 8px;
    
}

.card-alerta-expandido
{
    font-family: var(--font-darker-grotesque);
    font-weight: var(--font-weight-regular);
    font-size: var(--fs-xs);
    color: var(--color-text);
    margin-bottom: 20px;
}
.card-alerta-ver-detalhes
{
   color: var(--color-primary);
   font-weight: var(--font-weight-semibold);
   font-size: var(--fs-xs);
   cursor: pointer;
   border-bottom: 1px solid var(--color-primary);
   align-self: flex-start;
   font-family: var(--font-poppins);
   margin-top: 8px;
   margin-right: 45px;
   border: none;
   background-color: transparent;
}

.card-alerta-ver-detalhes.link-expandido
{
    align-self: center;
    margin-left: 0px;
}

.tipo-verificacao
{
    border-color: var(--color-secondary-yellow);
}

.tipo-verificado
{
    border-color: var(--color-secondary-green);
}

.tipo-oficial
{
    background-color: var(--color-secondary-blue1);
    border-color: var(--color-secondary-blue2);
}
